<!DOCTYPE html>
<html>
<head>
    <title>New Patient</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Custom CSS styles here */
        .jumbotron {
            background-color: #17A2B8;
            color: #fff;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
        }
    </style>
</head>
<body>
    <div style="position: sticky; top: 10px;left:10px;background-color: black;border-radius: 5px;width: 7%;text-align: center;text-justify: auto;vertical-align: middle;"><a href="/" style="color: white;font-size: large;">Back</a></div>
    <div class="jumbotron text-center">
        <h1 class="display-4">New Patient</h1>
    </div>
    {% if msg %}
    <div class="jumbotron text-center">
        <h1 class="display-4">{{msg}}</h1>
    </div>
    {% endif %}

    <div class="container mt-4">
        <form action="#" method="post">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="PatientID">Patient ID:</label>
                    <input type="text" class="form-control" id="PatientID" name="pid" placeholder="Enter in format P000" pattern="[P][0-9]{3}">
                </div>
                <div class="form-group col-md-12">
                    <label for="PatientName">Patient Name:</label>
                    <input type="text" class="form-control" id="PatientName" name="pname">
                </div>
                <div class="form-group col-md-12">
                    <label for="PatientName">Doctor ID:</label>
                    <input type="text" class="form-control" id="doctorid" name="did" placeholder="Enter in format D000" pattern="[D][0-9]{3}">
                </div>
                <div class="form-group col-md-12">
                    <label for="PatientName">Age:</label>
                    <input type="number" class="form-control" id="age" name="page">
                </div>
                <div class="form-group col-md-12">
                    <label for="bloodGroupRequest">Blood Group:</label>
                    <select class="form-control" id="bloodGroup" name="pbg">
                        <option value="A+">A+</option>
                        <option value="A-">A-</option>
                        <option value="B+">B+</option>
                        <option value="B-">B-</option>
                        <option value="AB+">AB+</option>
                        <option value="AB-">AB-</option>
                        <option value="O+">O+</option>
                        <option value="O-">O-</option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
